<div class="d-flex my-4">
    <div class="ms-4 me-auto">
        <span class="fw-lighter">
            Copyright Odd Git 2021
        </span>
    </div>
    <div class="me-4 ms-auto">
        <span class="fw-lighter">
            Developed for Everyone
        </span>
    </div>
</div>